<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Usuarios</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>

  <link rel="stylesheet" href="/css/registros.css">
</head>
<header>
  <nav class="navbar js-navbar">
    <ul class="menu">
      <li>
        <a class="hasDropdown" href="/map">Mapa<i class="fa fa-angle-down"></i></a>
      </li>
      <li>
        <a class="hasDropdown" href="/registros">Registros<i class="fa fa-angle-down"></i></a>
      </li>
    </ul>
  </nav>
</header>

<body>
  <div id="tabla">
    <h3 id="nombre" class="login-header">Registros de visita</h3>
    <table id="tablavisitas">
      <thead>
        <tr>
          <th>Número</th>
          <th>Username</th>
          <th>Área visitada</th>
          <th>Opinión</th>
          <th>Calificación</th>
        </tr>
      </thead>
      <tbody>
        <% registros.forEach(project => { %>
          <tr>
            <td><%= project.idregistro %></td>
              <td><%= project.usuario %></td>
              <td><%= project.nombre %></td>
              <td><%= project.opinion %></td>
              <td><%= project.calificacion %></td>
          </tr>
          <% })%>
      </tbody>
    </table>
  </div>
</body>

</html>